# Required Misc. Variables
Domain=example.com
Https=true
AllowedCorsOrigins__0=https://example.com
JwtSettings__Secret=totally_random_and_secure_string
ConnectionStrings__DefaultConnection=Data Source=/app/data/sharpbin.db

# Auth Settings
AuthSettings__CF_Turnstile_SecretKey=1x0000000000000000000000000000000AA
AuthSettings__CF_Turnstile_SiteKey=3x00000000000000000000FF
AuthSettings__Registration_Enabled=true
AuthSettings__Admins_Require_2FA=true
AuthSettings__API_Key_HMAC_Secret=another_random_and_secure_string

# Paste Settings
PasteSettings__MaxTitleLength=500
PasteSettings__MaxPasteSizeInBytes=1048576
PasteSettings__EnablePasteCompression=true
PasteSettings__RequiresVerification=true
PasteSettings__View_HMAC_Secret=random_minimum_32_char_string
# Used so that views are only counted from the frontend
# Must be the same on both the frontend and backend environment
PasteSettings__View_Internal_API_Key=another_random_minimum_32_char_string
