VITE_API_URL=http://backend:8080
VITE_ALLOWED_HOSTS=localhost,example.com
# Used so that views are only counted from the frontend
# Must be the same on both the frontend and backend environment
# The frontend will also try to parse 'PasteSettings__View_Internal_API_Key'
VIEW_INTERNAL_API_KEY=another_random_minimum_32_char_string
