@import 'tailwindcss';
@import 'highlight.js/styles/github-dark.css';

* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

body,
h1,
h2,
h3,
p {
	font-family: 'IBM Plex Sans', sans-serif;
}

pre,
code,
textarea,
option,
select {
	font-family: 'Fira Code', monospace;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
	outline: none;
}
